*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #2c3e50;
}
html{
    overflow: hidden;
}
/* ------front page (enter name section)------*/
.enter-name-section{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #2c3e50;
    z-index: 9999;
    /* display: none; */
}
.sec-enter-name-container{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sec-enter-name-label{
    color: #eee;
    font-size: 20px;
    font-weight: 300;
    text-transform: capitalize;
    margin: 10px 0;
    text-align: center;
}
.sec-enter-name-input{
    border: 1px solid #ccc;
    border-radius: 20px;
    height: 20px;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    background-color: #eee;
    transition:border 0.5s, background-color 0.5s;
    animation-name: enter-name-input-animation;
    animation-duration: 1s;
    display: block;
    margin: 0 auto;
}
.sec-enter-name-input:focus{
    border: 1px solid #2ecc71;
    background-color: #fff;
}
.sec-enter-name-btn{
    color: #eee;
    padding:7px 15px;
    text-align: center;
    margin-top: 20px;
    background-color: #2ecc71;
    border-radius: 20px;
    width: 100px;
    display: block;
    margin: 15px auto;
    cursor: pointer;
    animation-name: enter-name-btn-animation;
    animation-duration: 3s;
    text-decoration: none;
}
/*-----------second page--------*/
/* TODO: */
h1{
    text-transform: capitalize;
    color: #3a5672;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 45px;
    font-weight: bolder;
    animation: user-name 3s infinite linear;
    letter-spacing: 3px;
}
.wish-text{
    color: #eee;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-top: 10px;
}
/*--------eid text -----*/

.happy-eid-text{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    display: block;
}
.happy-eid-text li{
    display: inline-block;font-weight: bolder;
    text-align: center;
    color: #00a8ff;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    animation: eid-animation 1.5s infinite linear;
}
.happy-eid-text li:nth-child(1){
    animation-delay: .1s;
}
.happy-eid-text li:nth-child(2){
    animation-delay: .2s;
}
.happy-eid-text li:nth-child(3){
    animation-delay: .3s;
}
.happy-eid-text li:nth-child(4){
    animation-delay: .4s;
}
.happy-eid-text li:nth-child(5){
    animation-delay: .5s;
}
.happy-eid-text li:nth-child(6){
    animation-delay: .6s;
}
.happy-eid-text li:nth-child(7){
    animation-delay: .7s;
}
.happy-eid-text li:nth-child(8){
    animation-delay: .8s;
}
.happy-eid-text li:nth-child(9){
    animation-delay: .9s;
}
/* .happy-eid-container{
    background-color: #eee;
} */
.share-btn{
    position: fixed;
    bottom: 10px;
    width: 100%;
}
.eid-wish-para{
    text-align: center;
    margin: 30px 0 0 0;
    font-size: 25px;
    color: #eee;
    font-weight: 300;
    line-height: 35px;
    background-color:transparent;
}
.dev-btn{
    color:#eee;
    font-size: 12px;
    letter-spacing: .5px;
    word-spacing: 2px;;
    display: block;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
    /* margin-top: 100px; */
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform:capitalize;
    text-decoration: none;
    font-weight: 300;
    border-radius: 4px;
    padding: 5px 0;
    background-color: #336495;
    width: 200px;
}
.container-2{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
}
.happy-eid-container{
    position: absolute;
    top: 5%;
    left: 13%;
}
.container{
    height: 100%;
}
/*-----animation---*/
@keyframes enter-name-input-animation{
    0%{
        opacity: 0;
        transform: translateY(1000px);
        width: 50px;
        height: 50px;
        border-radius: 100%;
        text-align: center;
        background-color: #2ecc71;
    }
    30%{
        opacity: 0;
    }
    50%{
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background-color: #336495;
    }
    95%{
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes enter-name-btn-animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes eid-animation{
    0%{
        transform: translateY(0);
        margin-left: 0;
    }
    25%{
        transform: translateY(-15px);
        margin-left: 10px;
        text-shadow: 0 15px 5px rgba(0, 0, 0, 0.685);
        color: #05c46b;
        font-weight: bolder;
    }
    100%{
        transform: translateY(0);
        margin-left: 0;
    }
}
@keyframes user-name{
    0%{
        color: #4cd137;
        text-shadow: 0 0 5px #4cd137, 0 0 20px #4cd137;
    }
    20%{
        color: #e84118;
        text-shadow: 0 0 5px #e84118, 0 0 20px #e84118;
    }
    40%{
        color: #fbc531;
        text-shadow: 0 0 5px #fbc531, 0 0 20px #fbc531;
    }
    60%{
        color: #7f8fa6;
        text-shadow: 0 0 5px #7f8fa6, 0 0 20px #7f8fa6;
    }
    80%{
        color: #00a8ff;
        text-shadow: 0 0 5px #00a8ff, 0 0 20px #00a8ff;
    }
    100%{
        color: #4cd137;
        text-shadow: 0 0 5px #4cd137, 0 0 20px #4cd137;

    }
}
/*whatsapp share btn*/
.w3_whatsapp_btn {
    /* background-image: url('img/whatsapp-icon.png'); */
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    bottom: 5px;
    font-family: Arial,sans-serif;
    letter-spacing: .4px;
    cursor: pointer;
    font-weight: 400;
    text-transform: none;
    color: #fff;
    border-radius: 2px;
    background-color: #5cbe4a;
    background-repeat: no-repeat;
    line-height: 1.2;
    text-decoration: none;
    text-align: center;
}
.w3_whatsapp_btn_large {
    font-size: 16px;
    background-size: 20px;
    background-position: 5px 5px;
    padding: 10px 0;
    color: #fff;
}
a.whatsapp { color: #fff;}
/*000webhost watermark disable*/
div a img{
    display: none;
}